@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.home, .feed, .chats, .about {
    display: flex;
    height: 99vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    background-color: cornflowerblue;
}

.feedPost {
    display:grid;
    align-items: center;
    align-self: center;
    justify-content: center;
    text-align: center;

    width: 97w;
    padding: 0px;
    margin: 10px;

    border: 5px solid #0043be;
    background-color: cornflowerblue;
}

.mainButtonFrame {
    text-align: center;
    padding: 0px;
    width: 100vw;
    height: 50px;    
    background-color: #0043be;

}

.mainButton {
    background-color: cornflowerblue;
    position: relative;
    padding: 2px;
    margin: 5px;

}

.background {
    background-color: cornflowerblue;
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}