@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.home, .feed, .chats, .about {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    background-color: cornflowerblue;
}

.aboutContent{
    color: white;
    width: 90%;
    padding: 15px;
    text-align: center;
}

.feedPost {
    display:grid;
    align-items: center;
    align-self: center;
    justify-content: center;
    text-align: center;

    width: 97w;
    padding: 0px;
    margin-top: 0px;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-bottom: 5px;

    border: 5px solid #0043be;
    background-color: cornflowerblue;
}

.mainButtonFrame {
    color: white;
    text-align: center;
    padding: 0px;
    width: 100vw;
    background-color: #0043be;
}

.mainButton {
    position: relative;
    padding: 2px;
    margin: 5px;

}

/*#0043be*/

.frameBack {
    background-color: #0043be;
}


.background {
    width: 100vw;
    padding: 0px;
    margin: 0px;

    height: 100vh;
    min-height: 100%;
    background-color: cornflowerblue;
}

.newPost {
    display:grid;
    align-items: center;
    align-self: center;
    justify-content: left;
    text-align: center;
    display: grid;
    width: 55vw;
    padding: 0px;
    margin: 0px;
}

.sepButton {
    display: grid;
    align-items: right;
    align-self: right;
    justify-content: right;
    text-align: right;
    position: right;
    width: 100vw;
    padding: 20px;
    margin: 0px;
}

.postContent {
    padding: 0px;
    margin: 0px;
}

.aboutSubContent{
    text-align: center;
    background-color: cornflowerblue;
    color: white;
    
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: auto;
    padding: 0 20px;
}

.dropBox {   
    display:grid;
    align-items: center;
    align-self: center;
    justify-content: center;
    text-align: center;

    width: 97w;
    padding: px;
    margin-top: 0px;
    margin-left: 0vw;
    margin-right: 0vw;
    margin-bottom: 5px;

    color: white;
    border: 5px solid #0043be;
    background-color: #0043be;

}

.logout {
    align-items: center;
    align-self: center;
    justify-content: center;
    text-align: center;
}

.drop-option {
    display: flex;
    text-align: center;
    align-items: center;
}

.drop-title {
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    background-color: #1676f3;
    border: 5px solid #0043be;
    
}

.title {
    color: white;
}
.dd-wrapper {
    display: flex;
    min-height: 38px;
    flex-wrap: wrap;
}

.dd-header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    width: 100%;
    padding: 0 20px;

}

.dd-list {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
    padding: 0;
    margin: 0;
    width: 100%;
    margin-top: 20px;
}

.dd-list-item {
    width: 50%;
}

.notice {
    color: red;
    padding-bottom: 5vh;
}